html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  margin-right: 20px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.box {
  width: 250px;
  height: 150px;
  font-size: 2rem;
  background-color: yellowgreen;
  box-shadow: 5px 5px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1,
.box3,
.box5,
.box6,
.box7 {
  transform: rotate(-10deg);
}

.box2,
.box4,
.box8 {
  transform: rotate(10deg);
}

.box:hover {
  transform: rotate(0deg);
  scale: 1.5;
  z-index: 10;
}
